<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular 2 Task1</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
      	<li><a (click)="getUserName()">Welcome {{username}}</a></li>
        <li (click)="logout()"><a><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <!--<li><a href=""><span class="glyphicon glyphicon-log-out" (click)="logout()"></span> Logout</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-sm-2">
    <ul class="list-group">
      <li class="list-group-item"><label><a [routerLink]="['Homepage']">Home</a></label></li>
          <li class="list-group-item"><label><a [routerLink]="['LoginUser']">Login</a></label></li>
          <!--<li class="list-group-item"><label><a href="#">User Info</a></label></li>-->
          <li class="list-group-item"><label><a [routerLink]="['UserListing']">User Listing</a> </label></li>
          <li class="list-group-item"><label><a href="#">Contact Us</a></label></li>
          <li class="list-group-item"><label><a [routerLink]="['RegisterUser']">Register User</a></label></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>