<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular 2 Task1</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['RegisterUser']">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container jumbotron">
	<h2>Login Page</h2>
	<form (submit)="login($event, username.value, password.value)">
		<div class="form-group">
			<label for="username">Username</label>
	   		<!-- Using #username, we can identify this input to get the value on the form's submit event -->
	   		<input type="text" #username class="form-control" id="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
		   <!-- Using #password we can identify this input to get its value -->
		   <input type="password" #password class="form-control" id="password" placeholder="Password">
		</div>
	   	<button type="submit"  class="btn btn-default">Submit</button>
	</form>	
</div>

