<h2>User Listing</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="form-inline">Name
        <select class="form-control"  (change)="onSort($event,'name')">
          <option *ngFor="#order of sortOrder" [value]="order.orderValue">{{order.orderOption}}</option>
        </select>
      </th>
      <th class="form-inline">Email Id
        <select class="form-control"  (change)="onSort($event,'email')">
          <option *ngFor="#order of sortOrder" [value]="order.orderValue">{{order.orderOption}}</option>
        </select>
      </th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody *ngIf="users">
    <tr *ngFor="#user of users | sort:order">
        <td><img [src]="user.imageUrl" class="img-rounded" width="100" height="100"></td>
        <td  (click)="onUserSelect(user)"><p><b>{{user.name}}</b></p></td>
        <td>{{user.email}}</td>
        <td>{{user.description}}</td>
        <td>
          <button type="button" (click)="onUserSelect(user)" class="btn btn-success btn-block">Show User Info</button>
          <button type="button" (click)="onCheckSales(user)" class="btn btn-info btn-block">Show sales</button>
        </td>
    </tr>
  </tbody>
</table>